/*@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h2 a {
    color: seagreen;
}

.hoje {
    color: darkred;
    font-size: 20px;
}

.amanha {
    color: darkblue;
    font-size: 20px;
}