body {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    display: grid;
    justify-content: center;
    gap: 60px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item-menu {
    text-decoration: none;
    color: #000;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    
}
.destaque {
    display: grid;
    justify-items: end;
    align-items: center;
    text-align: right;
    
}

.informacao {
    font-size: 20px;
    place-self: start-end;
}

.botao {
   color: #fff;
   background: #ee2211;
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 4px;
   place-self: start-end;
}

img {
    max-width: 100%;
}

.vantagem {
    font-size: 64px;
    color: #c6c6c6;
    font-weight: bold;
    text-align: right;
}



