body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0px;
    margin-top: 3.8rem;
    display: grid;
    justify-items: center;
    gap: 3.8rem;
}

.menu {
   display: flex;
   flex-wrap: wrap;
   gap: 1.25rem;
}

.item-menu {
    font-size: 1.25rem;
    list-style: none;
    text-transform: uppercase;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    
}

.item-menu:hover {
    border: 2px solid red;
}

.item-menu a {
    text-decoration: none;
    color: #000;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.destaque {
    background: #fff;
    display: grid;
    text-align: right;
    align-content: center;
    justify-items: end;
    padding: 2.5rem;
    gap: 1.25rem;
}

.titulo {
    font-size: 2rem;
    margin: 0px;
}

.informacao {
    font-size: 1.25rem;
    margin: 0px;
}

.botao {
    text-decoration: none;
    color: #fff;
    background: #ee2211;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    
}

.botao:hover {
    background: #900;
}

.foto-bicicleta {
    max-width: 100%;
}

.vantagens {
    font-size: 4rem;
    color: #c6c6c6;
    text-transform: uppercase;
    text-align: right;
    display: grid;
    align-items: center;
    padding: 2.5rem;
    background-image: url("./img/onda.svg");
}

.subtitulo {
    background: #fff;
    padding: 2.5rem;
}

.caracteristicas {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.6rem 1.2rem;
    padding: 1.5rem;
}

.caracteristicas:hover {
    border-left: 0.25rem solid #ee2211;
}

h3 {
    margin: 0px;
}

.caracteristicas p {
    grid-column: 2;
    margin: 0px;
    font-size: 1.25rem;
}

.caracteristicas:nth-child(odd) {
    background: #f7f7f7;
}

footer {
    width: 100%;
}

.rodape {
    padding: 2.5rem;
    font-size: 1.25rem;
    margin: 0px;
    text-align: center;
    background: #fff;
}

