body {
  margin: 2rem;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.4rem;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  min-height: calc(100vh + 10rem);
}

.content {
  flex: 1;
}

.animeLeft {
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }

  to {
    transform: initial;
    opacity: 1;
  }
}

