.contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #000;
    align-items: center;
    padding: 90px 20px;
    gap: 0px 70px;
}

.contato p {
    color: #CCC;
    line-height: 2rem;
    font-size: 1.5rem;
    position: relative;
}

.contato p::before {
    content: "";
    width: 130px;
    height: 120px;
    background: url("../img/deco.svg") no-repeat;
    display: block;
    position: absolute;
    z-index: 1;
    top: -15rem;
}

.contato-dados h3 {
    color: #FFF;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.contato-dados h3 a {
    color: #FFF;
    text-decoration: none;
}

footer {
    color: #8F8F8F;
    margin: 0px;
    padding-bottom: 3rem;
    background: #000;
    padding-left: 1rem;
}

footer p {
    margin: 0px;
    padding-top: 15px;
}

@media (max-width:850px) {
    .contato p::before {
        right: -5rem;
        top: -12rem;
    } 
}

@media (max-width:600px) {
    .contato {
        grid-template-columns: 1fr;
        padding: 40px 20px;
        
    }

    .contato p::before {
        display: none;
    }

    .contato-dados h3 {
        font-size: 1.5rem;
    }
}