.formacao {
    display: grid;
    grid-template-columns: 1fr 2fr;   
    margin: 0 auto;
    padding: 120px 40px;
    background: #292828;  
}

.formacao h2 {
    font-size: 8rem;
    word-break: break-all;
    text-transform: uppercase;
    color: #000;
    line-height: 6rem;
    max-width: 4ch;
    font-weight: 700;
    line-height: 8rem;
    margin: 0px;
    padding: 20px;  
}

.formacao-descricao {
    padding: 20px;
}

.formacao-apresentacao {
    margin: 0px;
    color: #A3A3A3;
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 44ch;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.formacao-apresentacao strong {
    color: #fff;
    font-size: 2rem;
}

.informacao-formacao {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 1rem;
}

.cursos-superiores {
    border-radius: 5px;
    border: 1px solid #000;
    background: #090909;
    padding: 1.25rem;
    display: grid;
}

.tipo-graduacao {
    color: #A3A3A3;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin: 0px;
    padding-bottom: 10px;
    position: relative;
}

.tipo-graduacao::before {
    content:"";
    width: 4px;
    height: 20px;
    background: var(--gradient, linear-gradient(180deg, #B6F829 0%, #67DD0A 100%));
    display: block;
    position: absolute;
    left: -1.5rem;
    top: 2rem;
}

.cursos-superiores h3 {
    color: #fff;
    text-transform: capitalize;
    margin: 0px 0px 40px;
}

.instituicao-ensino {
    color: #A3A3A3;
    text-align: left;
    margin: 0px;
    align-self: self-start;
    align-content: end;
}

.cursos-intensivos {
    padding-top: 50px;
}

.cursos-intensivos p, .idiomas {
    color: #8F8F8F;
    font-size: 14px;
    text-transform: uppercase;
}

.titulo-curso {
    position: relative;
}

.titulo-curso::before {
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    background: url("../img/cursos.svg");
    position: absolute;
    left: -2.3rem;
}

.lista {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.item-lista {
    margin: 0px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;   
}

.item-lista h3 {
    color: #fff;
    text-transform: capitalize;
    margin: 0px;
}

.item-lista p {
    color: #8F8F8F;
    font-size: 18px;
}

.idiomas-lista {
    color: #fff;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
}

li span {
    color: #8F8F8F;
}

@media (max-width:1000px) {
    .formacao h2 {
        font-size: 7rem
    }
}

@media (max-width:850px) {
    .formacao {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }

    .formacao h2 {
        word-break: normal;
        max-width: 100%;
        padding: 0px 20px;
    }
}

@media (max-width:700px) {
    .formacao h2 {
        font-size: 6rem;
        
    }
}

@media (max-width:550px) {
    .formacao h2 {
        font-size: 3rem;
    }

    .informacao-formacao {
        grid-template-columns: 1fr;
        gap: 3rem 1rem;
    }
}

