@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    margin: 0px;
    font-family: 'Fira Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    align-items: center;
    padding: 40px 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    justify-content: center;
    margin: 0px;
}

.item-menu a {
    text-decoration: none;
    color: #141414;
    font-size: 1.125rem;
    padding: 10px 20px;
}

@media (max-width:850px) {
    header {
        flex-direction: column;
        gap: 3rem 0px;
    }

    .menu {
        gap: 3rem;
    }

    .item-menu a {
        background: #f4ebeb;
        border-radius: 0.25rem;
    }
}