@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    margin: 0px;
    font-family: 'Fira Sans', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px 20px;
    align-items: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 40px;
    justify-content: center;
}

.item-menu a {
    text-decoration: none;
    color: #141414;
    font-size: 1.25rem;
    padding: 10px 20px;
}